@media  screen and (max-width:991px) {
    #toggle-bar{
        font-size: 38px;
        color: #023047;
        display: block;
        margin-right: 20px;
    }
    .header h2{
        display: none;
    }
    .font{
        color: #023047;
        font-family: sans-serif;
        text-transform: uppercase;
        text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
        font-size: 25px;
        font-weight: 600;
        filter: drop-shadow(3px 3px 5px rgb(219, 170, 12));
    }
    #about .description{
          font-size: 15px;
    }
}