
*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}
.paragraph {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
body{
   width: 100%;
   background: white;
   /* overflow: hidden; */
}
.container{
    overflow: hidden;
}
.header{
    width: 100%;
    display: flex;
    /* background:linear-gradient(135deg,#3634d1,#0e0241); */
    background: rgb(244, 227, 116);
    align-items: center;
    justify-content: space-between;
    color: #180147;
    /* justify-c    ; */
    padding:10px;
    filter: drop-shadow(10px 12px 10px rgb(217, 192, 108));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    /* height: px; */
}
.header img{
    width: 68px;
    /* margin-right: 100px; */
    /* background-color: rgb(246, 240, 237); */
    border-radius: 12px;
    cursor: pointer;
    background: #ffb703;
    filter: drop-shadow(3px 3px 5px rgb(236, 232, 221));
}
#toggle-bar{
    font-size: 28px;
    color: #023047;
    display: none;
    cursor: pointer;
}

.header .nav-links{
    /* margin: 12px 80px;  */
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    flex-basis: 80vw;
    font-size: 28px;
    /* filter: drop-shadow(3px 3px 5px rgb(236, 232, 221)); */
}
a:hover {
    color:#de4802;
  }
  a{
    color: #023047;
    text-decoration: none;
    font-weight: 600;
  }
.display{
    /* background: url(https://www.iskconpune.com/wp-content/uploads/2023/01/youth-training1.jpg); */
    background: url(https://i.pinimg.com/564x/4d/36/d7/4d36d7a9e46b1c04948952652fcc6b2b.jpg);
    height:auto;
    min-height: 100vh;
    padding: 10vh 0;
    width: 100%;
    box-shadow: 5px 10px 12px hsla(180, 2%, 19%, 0.889);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.logo img{
    padding-top: 10px;
    width: 12vw;
    /* background: #ffb703; */
    /* margin-right:12px; */
}
#intro p{
    font-size: 8vw;
    color:#023047;
    font-family: Work Sans,sans-serif;
    /* padding-left: 8vw; */
    line-height: 1;
    /* margin: 0 5px; */
    filter: drop-shadow(3px 3px 5px rgb(236, 232, 221));
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
}
#intro #title{
    font-size: 7vw;
    color:#023047;
    font-family: Work Sans,sans-serif;
    /* padding-left: 5vw; */
    /* line-height: 1; */
    /* margin-left: 15vw; */
    text-align: center;
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
    margin-left: 10%;
}
#intro #quote p{
    font-size:4.2vw;
    background: #ffb703;
    color: aliceblue;
    padding: 5px;
    width: 80vw;
    margin-left: 7vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 12px rgba(37,112,186,.7);
}
/* blockquote{
    background: #f4eac2;
    border-left: 8px solid #382e58;
    font-size: .85vw;
    
} */

.home-main-panel{
    display: flex;
    padding-top: 2%;
    margin:3%;
    /* flex-wrap: wrap; */
}
.home-left-pannel{
    /* flex:4 1; */
    padding-right: 10px;
}

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin:10px 10px 25px;
}
#about .description{
    font-size: 20px;
    padding: 10px 5px;
    /* margin: 0 auto; */
    color: #023047;
    font-weight: 540;
    font-style: oblique;
    font-family:Quicksand,sans-serif;
}
.font{
    color: #023047;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
    font-size: 35px;
    font-weight: 600;
    /* filter: drop-shadow(3px 3px 5px rgb(219, 170, 12)); */
}
.home-left-panel{
    width: 60%;
}

.highlights{
    display: flex;
    width: 90%;
}
.highlights .title{
    padding: 9px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    /* display: flex; */
    width:30%;
    filter: drop-shadow(3px 3px 5px rgb(224, 197, 123));
}
.highlights .highlights-items{
    background: #f1daa3;
    font-size: 18px;
    text-align:start;
    margin-left: 10px;
    margin-bottom: 10px;;
    padding: 8px;
    border-radius: 10px;
    font-weight: 550;
    line-height: 1;
    filter: drop-shadow(3px 3px 5px rgb(208, 167, 56));
}
.highlights .highlights-items1{
    background: #f1daa3;
    font-size: 16px;
    text-align:start;
    margin-left: 10px;
    margin-bottom: 10px;;
    padding: 8px;
    border-radius: 10px;
    font-weight: 550;
    line-height: 1;
    width: 80%;
    filter: drop-shadow(3px 3px 5px rgb(208, 167, 56));
}
.social-media-container{
    align-items: center; 
    /* display: flex; */
    width: 100%;
    border-radius: 5%;
    text-align: center  ;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin: 2%;
    margin-top: 20px;
    /* height: 0    vh; */
    /* background: #ffb703; */
    /* background: url(https://i.pinimg.com/564x/c4/5d/d5/c45dd571dfac00afc4797997c3dfad58.jpg); */
    filter: drop-shadow(2px 5px 5px rgb(47, 47, 39));
      
}
.gallary-wrap{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */
    padding: 50px 8%;
    border-radius: 10%;
 }
 .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-gap: 20px;
 }
 .gallery img{
    width: 100%;
    /* height: 100px; */
    border-radius: 10%;
    border:3px solid #ffb703;

 }
.home-right-panel{
   
    padding-left:25px;
    margin-left: 55px;
    width: 30%;
}

.event-container{
    background: #ffb703;
    min-height: 300px;
    padding: 25px;
    box-shadow: 5px 10px 12px hsla(210,1%,52%,.884);
    text-align: start;
    width: 30vw;
}
.news-container{
    background: #ffb703;
    background: #ffb703;
    min-height: 300px;
    padding: 25px;
    box-shadow: 5px 10px 12px hsla(210,1%,52%,.884);
    text-align: center;
    width: 30vw;
    margin-top: 50px;
    font-weight: 500;
    /* font-style:oblique; */
}

h5,p{
    font-size: 1.3rem;
    padding: 10px 0;
}
h4{
    font-size: 1.55rem;
    margin-bottom: 0.5rem;
    /* margin-top: 0.5rem; */
}
hr{
    margin: 10px 0;
}
h2{
    font-size: 2.25rem;
    margin: 5px;
}
h6{
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 550;
}
.event-content{
        color: #023047;
        position: relative;
}
.stats{
    background:#ffb703;
    width: 30vw;
    padding: 50px;
    margin-top: 70px;
    color: #023047;
    box-shadow: 5px 10px 12px hsla(210,1%,52%,.884);
}
.testimonial-heading{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.people{
    height: 100vh;
    width: 100%;
    position: relative;
}
.people h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: #023047;
}
.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}
.user-img img{
    width: 410px;
    height: 100%;
    border-radius: 10px;
    border:5px solid #ffb703;

}
.user-text{
    background: #2d3a59;
    width: 400px;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
    border:5px solid #fff;


}
.user-text p{
    font-size:18px;
    line-height: 24px;

}
.user-text h2{
    margin: 35px 0 5px;
    color: #fff;
}

.user-text h3{
   color: #fff;
}
.testimonial-container{
    width: 800px;
    height: 400px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.indicator{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -50px;
}
.btn{
    display: inline-block;
    height: 15px;
    background: #872121;
    width: 15px;
    border-radius: 15px;
    margin: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    width: 45px;
    /* border-radius: 25%; */
}
.testimonial{
    width: 100%;
    overflow: hidden;
}

.map{
    margin-top: 50px;
    box-shadow: 5px 10px 12px hsla(210,1%,52%,.884);
    width: 30vw;
    height: 350px;
}
.footer{
    display: flex;
    background: rgb(244, 227, 116);
    color:#023047;
    min-height: 250px;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 20px 0 0;
    justify-content: space-around;
}
.footer #footer-logo div img{
    max-width: 320px;
    background: #5540a7;
    padding-bottom: 15px;
    margin: auto;
    border-radius: 8px;
    margin: 2%;
}
.footer #footer-logo{
    /* justify-content: space-between; */
    display: flex;
}
.footer-column{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    flex-direction: column;
}
.copyright{
    font-family: Quicksand,sans-serif;
    font-weight: 500;
}
.middle-container_UC{
    min-height: 90vh;
}

.footer h5{
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
 #footer-resources{
    margin: 0px 20px;
}

.footer-column ul{
    list-style-type: none;
    /* padding-left: 7px; */
    text-align: center;
    width: 100%;

}
/* 
.footer-column ul li{
    margin: 0px 15px;
} */
.footer-column ul li a{
    color:#023047;
    font-size: 20px;
}.footer-column ul li a:hover{
    color: #d60808;
}