
*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}
.paragraph {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
body{
   width: 100%;
   background: white;
   /* overflow: hidden; */
}
.container{
    overflow: hidden;
}
.header{
    width: 100%;
    display: flex;
    /* background:linear-gradient(135deg,#3634d1,#0e0241); */
    background: rgb(211, 196, 95);
    align-items: center;
    justify-content: space-between;
    color: #180147;
    /* justify-c    ; */
    padding:10px;
    filter: drop-shadow(18px 18px 15px rgb(219, 170, 12));
    position: sticky;
}
.header img{
    width: 4vw;
    /* margin-right: 100px; */
    /* background-color: rgb(246, 240, 237); */
    border-radius: 12px;
    cursor: pointer;
    background: #ffb703;
    filter: drop-shadow(3px 3px 5px rgb(236, 232, 221));
}

.header h2{
    /* margin: 12px 80px;  */
    cursor: pointer;
    font-size: 1.8vw;
    filter: drop-shadow(3px 3px 5px rgb(236, 232, 221));
}
.display{
    /* background: url(https://voicenitjsr.org.in/static/media/welcome_background_image.e176e8bfe73dbf451e76.jpg); */
    background: url(https://i.pinimg.com/564x/4d/36/d7/4d36d7a9e46b1c04948952652fcc6b2b.jpg);
    height:auto;
    min-height: 45vh;
    padding: 10vh 0;
    width: 100%;
    box-shadow: 5px 10px 12px hsla(180, 2%, 19%, 0.889);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 18vw;
    /* background: #ffb703; */
    /* margin-right:12px; */
}
#intro p{
    font-size: 14vw;
    color:#023047;
    font-family: Work Sans,sans-serif;
    padding-left: 5vw;
    line-height: 1;
    /* margin: 0 5px; */
    filter: drop-shadow(3px 3px 5px rgb(236, 232, 221));
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
}
#intro #title{
    font-size: 9vw;
    color:#023047;
    font-family: Work Sans,sans-serif;
    /* padding-left: 5vw; */
    /* line-height: 1; */
    margin-left: 15vw;
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
    margin-left: 10%;
}
#intro #quote p{
    font-size:2.2vw;
    background: #ffb703;
    color: aliceblue;
    padding: 5px;
    width: 40vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 12px rgba(37,112,186,.7);
}
/* blockquote{
    background: #f4eac2;
    border-left: 8px solid #382e58;
    font-size: .85vw;
    
} */

.home-main-panel{
    display: flex;
    padding-top: 40px;
    margin:3%;
}
.home-left-pannel{
    flex:4 1;
    padding-right: 10px;
}

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin:10px 10px 25px;
}
#about .description{
    font-size: 14px;
    padding: 10px 5px;
    /* margin: 0 auto; */
    color: #023047;
    font-weight: 540;
    font-style: oblique;
    font-family:Quicksand,sans-serif;
}
.font{
    color: #023047;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow:0 4px 3px rgba(0,0,0,.674), 0 8px 13px rgba(0,0,0,.249);
    font-size: 25px;
    font-weight: 600;
    filter: drop-shadow(3px 3px 5px rgb(219, 170, 12));
}
.home-left-panel{
    width: 70%;
}

.highlights{
    display: flex;
    width: 70%;
}
.highlights .title{
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    /* display: flex; */
    width:30%;
    filter: drop-shadow(3px 3px 5px rgb(224, 197, 123));
}
.highlights .highlights-items{
    background: #f1daa3;
    font-size: 16px;
    text-align:start;
    margin-left: 10px;
    margin-bottom: 10px;;
    padding: 8px;
    border-radius: 10px;
    font-weight: 550;
    line-height: 1;
    filter: drop-shadow(3px 3px 5px rgb(208, 167, 56));
}
.highlights .highlights-items1{
    background: #f1daa3;
    font-size: 16px;
    text-align:start;
    margin-left: 10px;
    margin-bottom: 10px;;
    padding: 8px;
    border-radius: 10px;
    font-weight: 550;
    line-height: 1;
    width: 80%;
    filter: drop-shadow(3px 3px 5px rgb(208, 167, 56));
}
.social-media-container{
    align-items: center; 
    /* display: flex; */
    width: 100%;
    border-radius: 5%;
    text-align: center  ;
    justify-content: center;
    align-items: center;
    margin: 2%;
    margin-top: 20px;
    /* height: 0    vh; */
    /* background: #ffb703; */
    background: url(https://i.pinimg.com/564x/c4/5d/d5/c45dd571dfac00afc4797997c3dfad58.jpg);
    filter: drop-shadow(8px 8px 15px rgb(229, 233, 13));
      
}
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.gallery-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
.gallery-wrap button{
    margin: 4%;
    background: transparent;
    border: 0cap;
    
}

  .gallery-wrap button img{
    width: 3vw;
    border-radius: 20%;
    cursor: pointer;
    filter: drop-shadow(8px 8px 15px red);
  }

  .gallery img {
    max-width:35vw ;
    height: auto;
    display: none; /* Hide all images by default */
    transition:  transform 0.5s;
    filter: drop-shadow(8px 8px 15px rgb(109, 115, 227));
    cursor:zoom-in;
    border-radius: 10%;
  }

  .gallery img:hover{
    transform: scale(1.2);
    
  }

  .gallery img.active {
    display: block; /* Display only the active image */
  }

 .image-gallery{
    width: 100%;
    padding-bottom:5%;
    margin: 5% ;
 }
.home-right-panel{
    /* background-color:#023047; */
    padding-left:25px;
    /* margin-left: 55px; */
}

.event-container{
    background: #ffb703;
    min-height: 300px;
    padding: 25px;
    box-shadow: 5px 10px 12px hsla(210,1%,52%,.884);
    text-align: start;
    width: 30vw;
}

h5,p{
    font-size: 1.1rem;
    padding: 10px 0;
}
.event-content{
        color: #023047;
        position: relative;
}